.horizontal-middle-inset_1001-2145 {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
}
.divider_1001-2146 {
  display: flex;
}
