.mail_1001-1010 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
}
.icon_1001-1011 {
  top: 4px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
