.x--building-blocks-colourful-logo_1001-1462 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}
.group-2608522_1001-1474 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.rectangle-2_1001-1475 {
  display: flex;
}

.group-2608520_1001-1476 {
  width: 18px;
  height: 18px;
}
.rainbow_1001-1477 {
  width: 18px;
  height: 18px;
}
.rectangle-5_1001-1478 {
  display: flex;
}

.rectangle-2_1001-1479 {
  display: flex;
}

.rectangle-3_1001-1480 {
  display: flex;
}

.rectangle-4_1001-1481 {
  display: flex;
}

.rectangle-7_1001-1482 {
  display: flex;
}

.rectangle-6_1001-1483 {
  display: flex;
}

.subtract_1001-1484 {
  display: flex;
}
